
<h1>Connections</h1>

<script>
$(document).ready( function () {
   var table = $('#table_id').DataTable({
        rowGroup: {
            //dataSrc: [],
    },
    buttons:[
        {
            extend: 'searchBuilder',
            config: {
                depthLimit: 4
            }
        }
    ],
    
    "pageLength": 100,

    dom: 'Qlfrtip',
    searchBuilder: {
        preDefined: {
            criteria:[
                {
                    condition: 'between',
                    data: 'Date',
                    value: []
                }
            ],
            logic: 'AND',
        }
    },
    
    // endRender: function ( rows, group ) {
    //     var avg = rows
    //         .data()
    //         .pluck('cpm')
    //         .reduce( function (a, b) {
    //             return a + b.replace(/[^\d]/g, '')*1;
    //         }, 0) / rows.count();

    //     return 'Average CPM in '+group+': '+
    //         $.fn.dataTable.render.number(',', '.', 0, '$').display( avg );
    // }
    
} );
var getChecboxesState = () => {
    var connections = $('#checkConnections').prop('checked')
    var app = $('#checkApp').prop('checked')
    var platform = $('#checkPlatform').prop('checked')
    var country = $('#checkCountry').prop('checked')

    var columnsIndicesToInclude = [
        ...(connections ? [1] : []),
        ...(app ? [2] : []),
        ...(platform ? [3] : []),
        ...(country ? [4] : []),
    ];
    return columnsIndicesToInclude;
}


$('#checkConnections, #checkApp, #checkPlatform, #checkCountry').click(() => {
    var indicesToInclude = getChecboxesState();
    console.log('indicesToInclude', indicesToInclude)
    table.rowGroup().dataSrc(indicesToInclude);
    table.rowGroup().enable().draw();
})

}); //end DataTable();

</script>

<span><b>Group by:</b></span><br>
<label for="checkConnections">Connections</label> <input type="checkbox" id="checkConnections"><br>
App: <input type="checkbox" id="checkApp"><br>
Platform: <input type="checkbox" id="checkPlatform"><br>
Country: <input type="checkbox" id="checkCountry"><br>

<table id="table_id" class="display">
    <thead>
        <tr>
            <th>Name</th>
            <th>Connection Type</th>
            <th>App</th>
            <th>Platform</th>
            <th>Country</th>
            <th>Date</th>
            <th>Impressions</th>
            <th>Ad Revenue</th>
            <th>CPM</th>
        </tr>
    </thead>
    <tbody>  
            <% @connections.each do |connection| %>
                <tr>
                    <td><%=connection.name%></td>
                    <td><%=connection.connection%></td>
                    <td><%=connection.app%></td>
                    <td><%=connection.platform%></td>
                    <td><%=connection.country%></td>
                    <td><%=connection.date%></td>
                    <td><%=connection.impressions%></td>
                    <td><%=connection.ad_revenue%></td>
                    <td><%=connection.cpm%></td>
                </tr>
            <% end %>
    </tbody>
</table>
